<?xml version="1.0" encoding="utf-8" ?>

<log4net>

   <appender name="JsonFileLogger" type="log4net.Appender.FileAppender,log4net">
    <file value="C:\Users\NurlanB\Desktop\CorrectorV3\CorrectorV3\Log\log.json" />
    <layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" ></layout>
  </appender> 
  
   <appender name="ExJsonFileLogger" type="log4net.Appender.FileAppender,log4net">
    <file value="C:\Users\NurlanB\Desktop\CorrectorV3\CorrectorV3\Log\ExceptionLog.json" />
    <layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" ></layout>
  </appender> 
  
  <appender name="DatabaseLogger" type="MicroKnights.Logging.AdoNetAppender, MicroKnights.Log4NetAdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection,System.Data.SqlClient,Version=14.0.1000.169,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=DESKTOP-0T81FEB\MSSQLSERVER17; Initial Catalog=CorrectorV2; user=sa1; password=2; trusted_connection=true" />
   <!-- <commandText value="INSERT INTO Logs ([Detail],[Date],[Audit]) VALUES (@logDetail,@log_date,@audit)" />-->
   <commandText value="INSERT INTO Logs ([Detail]) VALUES (@logDetail)" />
    <parameter>
      <parameterName value="@logDetail" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout" />
    </parameter>
  </appender>

  <!--<root>
    <level value="DEBUG"/>
    <appender-ref ref="JsonFileLogger"/>
    
  </root>-->


   <logger name="JsonFileLogger">
    <level value="ALL"></level>
    <appender-ref ref="JsonFileLogger"/>
  </logger>
  
  <logger name="ExceptionJsonFileLogger">
    <level value="ALL"></level>
    <appender-ref ref="ExJsonFileLogger"/>
  </logger>

  <logger name="DatabaseLogger">
    <level value="ALL"></level>
    <appender-ref ref="DatabaseLogger"/>
  </logger>
  
  

</log4net>